In [1]:
import pandas as pd
import numpy as np
import copy
import random
from utils import *

In [2]:
time = "T9_2019"
min_stock_hold = 5
random_test_size = 100

In [3]:
stock = get_df_from_mysql(database_name="Stock", table_name=time)
stock = split_type_and_main_account(stock, "AccountCode")
stock = stock.groupby(['main_account', 'ShareCode'])['ShareBalance'].sum().to_frame('ShareBalance').reset_index()
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost".format(user="root", pw="123456"))
stock.to_sql("ncf_data", con=engine, if_exists="replace", chunksize=1000, index=False, schema="StockRecommend")

In [4]:
df = stock
print(df.head())
df.info()

                       main_account ShareCode  ShareBalance
0  0001898ab3584ff6a99ec11ffcb1f09c       CTG           1.0
1  0001898ab3584ff6a99ec11ffcb1f09c       FLC         401.0
2  0001898ab3584ff6a99ec11ffcb1f09c       PGC           5.0
3  0001898ab3584ff6a99ec11ffcb1f09c       PVI          50.0
4  0001898ab3584ff6a99ec11ffcb1f09c       PVS        2140.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42660 entries, 0 to 42659
Data columns (total 3 columns):
main_account    42660 non-null object
ShareCode       42660 non-null object
ShareBalance    42660 non-null float64
dtypes: float64(1), object(2)
memory usage: 1000.0+ KB

In [5]:
df1 = df.groupby('main_account')['ShareCode'].count()\
        .to_frame('stock_count').reset_index()\
        .sort_values(by='stock_count', ascending=False)
df1.info()
df1.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13564 entries, 11071 to 13563
Data columns (total 2 columns):
main_account    13564 non-null object
stock_count     13564 non-null int64
dtypes: int64(1), object(1)
memory usage: 317.9+ KB

                           main_account  stock_count
11071  d057a03df81a4d1bbc8c7c2736189a20          392
5657   693a0af5e86e40ea8cfa349010ef4697          121
6588   7adba58b6e2d445f870e8c23b2a84836          121
1087   13aeca960d21429b812c4254739cef9c          112
8377   9e1b6a7c0af14452be7e16bac0e3f122          110

In [6]:
df = pd.merge(df, df1, how='left', left_on='main_account', right_on='main_account')
df

                           main_account ShareCode  ShareBalance  stock_count
0      0001898ab3584ff6a99ec11ffcb1f09c       CTG           1.0           10
1      0001898ab3584ff6a99ec11ffcb1f09c       FLC         401.0           10
2      0001898ab3584ff6a99ec11ffcb1f09c       PGC           5.0           10
3      0001898ab3584ff6a99ec11ffcb1f09c       PVI          50.0           10
4      0001898ab3584ff6a99ec11ffcb1f09c       PVS        2140.0           10
...                                 ...       ...           ...          ...
42655  fff283aac89f4f82ab8b931dd9a9e41e       HUT         700.0            5
42656  fff283aac89f4f82ab8b931dd9a9e41e       PVV        1700.0            5
42657  fff283aac89f4f82ab8b931dd9a9e41e       VRG       12400.0            5
42658  fff942970c8d4976993aa8e949f2c228       IDI           7.0            1
42659  fff95069a1554792bfe041e2f7b184bc       FCN       56337.0            1

[42660 rows x 4 columns]

In [7]:
df['rank'] = df.groupby('main_account')['ShareCode'].apply(lambda x: x.rank()) #add rank order based on main_account and sharecode
df.head(20)

,main_account,ShareCode,ShareBalance,stock_count,rank
0,0001898ab3584ff6a99ec11ffcb1f09c,CTG,1.0,10,1.0
1,0001898ab3584ff6a99ec11ffcb1f09c,FLC,401.0,10,2.0
2,0001898ab3584ff6a99ec11ffcb1f09c,PGC,5.0,10,3.0
3,0001898ab3584ff6a99ec11ffcb1f09c,PVI,50.0,10,4.0
4,0001898ab3584ff6a99ec11ffcb1f09c,PVS,2140.0,10,5.0
5,0001898ab3584ff6a99ec11ffcb1f09c,SHB,55.0,10,6.0
6,0001898ab3584ff6a99ec11ffcb1f09c,SZL,170.0,10,7.0
7,0001898ab3584ff6a99ec11ffcb1f09c,TEG,20.0,10,8.0
8,0001898ab3584ff6a99ec11ffcb1f09c,VNA,90.0,10,9.0
9,0001898ab3584ff6a99ec11ffcb1f09c,VPB,1000.0,10,10.0
10,00029e5f2da54460a1d7dd1a491d991f,BAM,65300.0,4,1.0
11,00029e5f2da54460a1d7dd1a491d991f,FPC,1000.0,4,2.0
12,00029e5f2da54460a1d7dd1a491d991f,GVR,2200.0,4,3.0
13,00029e5f2da54460a1d7dd1a491d991f,SHS,50.0,4,4.0
14,00057207ba05405a911387bbcb3861bc,STB,6.0,1,1.0
15,000a64c8a9d5465eba885a561e1b0ca9,BFC,8.0,19,1.0
16,000a64c8a9d5465eba885a561e1b0ca9,CIA,1000.0,19,2.0
17,000a64c8a9d5465eba885a561e1b0ca9,DBC,50.0,19,3.0
18,000a64c8a9d5465eba885a561e1b0ca9,DNP,622.0,19,4.0
19,000a64c8a9d5465eba885a561e1b0ca9,DSN,2042.0,19,5.0

In [8]:
df['split_key'] = np.where(((df['stock_count'] == df['rank']) & (df['stock_count'] > min_stock_hold)), "Y", "N")
df

,main_account,ShareCode,ShareBalance,stock_count,rank,split_key
0,0001898ab3584ff6a99ec11ffcb1f09c,CTG,1.0,10,1.0,N
1,0001898ab3584ff6a99ec11ffcb1f09c,FLC,401.0,10,2.0,N
2,0001898ab3584ff6a99ec11ffcb1f09c,PGC,5.0,10,3.0,N
3,0001898ab3584ff6a99ec11ffcb1f09c,PVI,50.0,10,4.0,N
4,0001898ab3584ff6a99ec11ffcb1f09c,PVS,2140.0,10,5.0,N
...,...,...,...,...,...,...
42655,fff283aac89f4f82ab8b931dd9a9e41e,HUT,700.0,5,3.0,N
42656,fff283aac89f4f82ab8b931dd9a9e41e,PVV,1700.0,5,4.0,N
42657,fff283aac89f4f82ab8b931dd9a9e41e,VRG,12400.0,5,5.0,N
42658,fff942970c8d4976993aa8e949f2c228,IDI,7.0,1,1.0,N
42659,fff95069a1554792bfe041e2f7b184bc,FCN,56337.0,1,1.0,N

In [9]:
train = df[df['split_key'] != "Y"]
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost".format(user="root", pw="123456"))
train.to_sql("ncf_train", con=engine, if_exists="replace", chunksize=1000, index=False, schema="StockRecommend")
train.to_pickle('data/train.pickle')
train

,main_account,ShareCode,ShareBalance,stock_count,rank,split_key
0,0001898ab3584ff6a99ec11ffcb1f09c,CTG,1.0,10,1.0,N
1,0001898ab3584ff6a99ec11ffcb1f09c,FLC,401.0,10,2.0,N
2,0001898ab3584ff6a99ec11ffcb1f09c,PGC,5.0,10,3.0,N
3,0001898ab3584ff6a99ec11ffcb1f09c,PVI,50.0,10,4.0,N
4,0001898ab3584ff6a99ec11ffcb1f09c,PVS,2140.0,10,5.0,N
...,...,...,...,...,...,...
42655,fff283aac89f4f82ab8b931dd9a9e41e,HUT,700.0,5,3.0,N
42656,fff283aac89f4f82ab8b931dd9a9e41e,PVV,1700.0,5,4.0,N
42657,fff283aac89f4f82ab8b931dd9a9e41e,VRG,12400.0,5,5.0,N
42658,fff942970c8d4976993aa8e949f2c228,IDI,7.0,1,1.0,N
42659,fff95069a1554792bfe041e2f7b184bc,FCN,56337.0,1,1.0,N

In [10]:
test = df[df['split_key'] == "Y"]
test = test[~test['ShareCode'].isin(["YTC", "VCT", "VWS", "VTH", "VEC10801", "VMD", "VE3"])] # remove rows with stock in test but not in train
test

,main_account,ShareCode,ShareBalance,stock_count,rank,split_key
9,0001898ab3584ff6a99ec11ffcb1f09c,VPB,1000.0,10,10.0,Y
33,000a64c8a9d5465eba885a561e1b0ca9,VRE,5.0,19,19.0,Y
50,002c1a2e3c054378b7261e680f19b5c4,TCT,300.0,7,7.0,Y
63,00333607002b4ba3be5c9e3913597800,VC7,642.0,10,10.0,Y
72,00406c885e5c4a3e89aa3c80276c636f,TTF,8270.0,6,6.0,Y
...,...,...,...,...,...,...
42532,ff1ac9a78e5a4a0e8c3c75c9ff4e72f5,VRE,18000.0,6,6.0,Y
42540,ff20ae0be87e481984d3fc9d92751b96,VCG,2500.0,6,6.0,Y
42572,ff46416e49cf4db89e06144c47a7ee85,VSC,2400.0,9,9.0,Y
42581,ff50ced0de544e9baab91ba4904ccf54,VRG,600.0,7,7.0,Y
42601,ff79ac6717014fcbb3bfb9e261364017,PXL,9700.0,7,7.0,Y

In [11]:
list_stock = train.ShareCode.unique().tolist()

In [12]:
df3 = df.groupby('main_account')['ShareCode'].apply(list).to_frame('stock_hold').reset_index()
df3

,main_account,stock_hold
0,0001898ab3584ff6a99ec11ffcb1f09c,"[CTG, FLC, PGC, PVI, PVS, SHB, SZL, TEG, VNA, ..."
1,00029e5f2da54460a1d7dd1a491d991f,"[BAM, FPC, GVR, SHS]"
2,00057207ba05405a911387bbcb3861bc,[STB]
3,000a64c8a9d5465eba885a561e1b0ca9,"[BFC, CIA, DBC, DNP, DSN, FMC, HAG, HVN, LAS, ..."
4,001d09340ebb4b95af55684d8635a819,"[CTR, PVD]"
...,...,...
13559,ffdfbcad4f2340f78012055b4c59f3ef,[VPB]
13560,ffe8f9741d61422eac913ca1fce1c95f,"[CTR, DPR]"
13561,fff283aac89f4f82ab8b931dd9a9e41e,"[DTD, HAH, HUT, PVV, VRG]"
13562,fff942970c8d4976993aa8e949f2c228,[IDI]
13563,fff95069a1554792bfe041e2f7b184bc,[FCN]

In [13]:
def get_random_stock_not_hold(list_stock, stock_hold):
    stock_not_hold = list(set(list_stock).symmetric_difference(set(stock_hold)))
    random_stock_not_hold = random.choices(stock_not_hold, k=random_test_size)
    return random_stock_not_hold
df3['stock_not_hold'] = df3['stock_hold'].apply(lambda x: get_random_stock_not_hold(list_stock, x))
df3

,main_account,stock_hold,stock_not_hold
0,0001898ab3584ff6a99ec11ffcb1f09c,"[CTG, FLC, PGC, PVI, PVS, SHB, SZL, TEG, VNA, ...","[VTS, GBS, DZM, VNB, MCV, ADS, PHH, ACC, NQN, ..."
1,00029e5f2da54460a1d7dd1a491d991f,"[BAM, FPC, GVR, SHS]","[TD1747431, PCT, NAV, IFS, HHS, SFC, GAB, TMT,..."
2,00057207ba05405a911387bbcb3861bc,[STB],"[CII, SDB, VNP, VHM, MCF, PNJ, MCC, TD1747411,..."
3,000a64c8a9d5465eba885a561e1b0ca9,"[BFC, CIA, DBC, DNP, DSN, FMC, HAG, HVN, LAS, ...","[CGP, CREE1901, TBC, TD1323031, TLI, QBS, VCI,..."
4,001d09340ebb4b95af55684d8635a819,"[CTR, PVD]","[MKP, VOC, BGW, YEG, DNH, ATB, CMX, MDF, BCP, ..."
...,...,...,...
13559,ffdfbcad4f2340f78012055b4c59f3ef,[VPB],"[DQC, MST, EID, PXH, ITD, MST, LM7, SKV, SJD, ..."
13560,ffe8f9741d61422eac913ca1fce1c95f,"[CTR, DPR]","[VLC, CSM, FRM, VTB, HLG, HEV, PET, LMR, HAV, ..."
13561,fff283aac89f4f82ab8b931dd9a9e41e,"[DTD, HAH, HUT, PVV, VRG]","[SMA, BCC, PSL, ITD, HVA, CAV, MTG, HVT, PJS, ..."
13562,fff942970c8d4976993aa8e949f2c228,[IDI],"[DC2, WSS, VSH, BVH, KTT, IJC, MIG, HLD, HHP, ..."
13563,fff95069a1554792bfe041e2f7b184bc,[FCN],"[NNG, DPR, TLI, E1VFVN30, HDO, L44, ATB, NLG, ..."

In [14]:
test = pd.merge(test, df3, how='left', left_on='main_account', right_on='main_account')
test

,main_account,ShareCode,ShareBalance,stock_count,rank,split_key,stock_hold,stock_not_hold
0,0001898ab3584ff6a99ec11ffcb1f09c,VPB,1000.0,10,10.0,Y,"[CTG, FLC, PGC, PVI, PVS, SHB, SZL, TEG, VNA, ...","[VTS, GBS, DZM, VNB, MCV, ADS, PHH, ACC, NQN, ..."
1,000a64c8a9d5465eba885a561e1b0ca9,VRE,5.0,19,19.0,Y,"[BFC, CIA, DBC, DNP, DSN, FMC, HAG, HVN, LAS, ...","[CGP, CREE1901, TBC, TD1323031, TLI, QBS, VCI,..."
2,002c1a2e3c054378b7261e680f19b5c4,TCT,300.0,7,7.0,Y,"[DPM, GDT, MWG, SAB, SAM, SSI, TCT]","[HCD, TLT, TNG, NVL, PNJ, AGF, PJT, LUT, VBC, ..."
3,00333607002b4ba3be5c9e3913597800,VC7,642.0,10,10.0,Y,"[BMC, DPM, EBS, ILC, NAV, SD6, SJC, SJE, STB, ...","[C69, DPC, SAM, GER, VCH, CMT, HD8, HD2, SFC, ..."
4,00406c885e5c4a3e89aa3c80276c636f,TTF,8270.0,6,6.0,Y,"[ASM, FLC, HAP, IDI, PXT, TTF]","[HKB, PDN, PPS, APG, BVG, KST, CDC, VES, SWC, ..."
...,...,...,...,...,...,...,...,...
1847,ff1ac9a78e5a4a0e8c3c75c9ff4e72f5,VRE,18000.0,6,6.0,Y,"[HVG, MWG, PVS, SAS, TNG, VRE]","[MCO, FUCVREIT, VMA, VIE, SGN, MST, KST, VES, ..."
1848,ff20ae0be87e481984d3fc9d92751b96,VCG,2500.0,6,6.0,Y,"[AGR, PVD, QCG, SBT, SHB, VCG]","[PSC, HND, NCP, TSJ, PNJ, BVN, MSN, BHA, VGV, ..."
1849,ff46416e49cf4db89e06144c47a7ee85,VSC,2400.0,9,9.0,Y,"[CTR, DIG, HTM, PWA, SZC, VCR, VGI, VRG, VSC]","[PVD, SEA, VSP, NTP, VHE, VPK, TTC, LEC, HNG, ..."
1850,ff50ced0de544e9baab91ba4904ccf54,VRG,600.0,7,7.0,Y,"[FPT, HDC, HPG, IJC, MWG, REE, VRG]","[PCT, ALT, DRC, CHPG1902, TAG, TAG, VGV, DPC, ..."
1851,ff79ac6717014fcbb3bfb9e261364017,PXL,9700.0,7,7.0,Y,"[BTS, HAG, HSG, JVC, OIL, PVX, PXL]","[L61, PPE, SFC, TTZ, SGT, SPD, BSG, VRE, AGR, ..."

In [15]:
def get_test_sample(row):
    test_sample = row['ShareCode'].split() + row['stock_not_hold']
    return test_sample
test['test_sample'] = test.apply(get_test_sample, axis=1)
test.to_pickle('data/test.pickle')
test['stock_hold'] = test['stock_hold'].astype(str)   #convert list to str in order to import sql
test['stock_not_hold'] = test['stock_not_hold'].astype(str)   #convert list to str in order to import sql
test['test_sample'] = test['test_sample'].astype(str)   #convert list to str in order to import sql
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost".format(user="root", pw="123456"))
test.to_sql("ncf_test", con=engine, if_exists="replace", chunksize=1000, index=False, schema="StockRecommend")
test

,main_account,ShareCode,ShareBalance,stock_count,rank,split_key,stock_hold,stock_not_hold,test_sample
0,0001898ab3584ff6a99ec11ffcb1f09c,VPB,1000.0,10,10.0,Y,"['CTG', 'FLC', 'PGC', 'PVI', 'PVS', 'SHB', 'SZ...","['VTS', 'GBS', 'DZM', 'VNB', 'MCV', 'ADS', 'PH...","['VPB', 'VTS', 'GBS', 'DZM', 'VNB', 'MCV', 'AD..."
1,000a64c8a9d5465eba885a561e1b0ca9,VRE,5.0,19,19.0,Y,"['BFC', 'CIA', 'DBC', 'DNP', 'DSN', 'FMC', 'HA...","['CGP', 'CREE1901', 'TBC', 'TD1323031', 'TLI',...","['VRE', 'CGP', 'CREE1901', 'TBC', 'TD1323031',..."
2,002c1a2e3c054378b7261e680f19b5c4,TCT,300.0,7,7.0,Y,"['DPM', 'GDT', 'MWG', 'SAB', 'SAM', 'SSI', 'TCT']","['HCD', 'TLT', 'TNG', 'NVL', 'PNJ', 'AGF', 'PJ...","['TCT', 'HCD', 'TLT', 'TNG', 'NVL', 'PNJ', 'AG..."
3,00333607002b4ba3be5c9e3913597800,VC7,642.0,10,10.0,Y,"['BMC', 'DPM', 'EBS', 'ILC', 'NAV', 'SD6', 'SJ...","['C69', 'DPC', 'SAM', 'GER', 'VCH', 'CMT', 'HD...","['VC7', 'C69', 'DPC', 'SAM', 'GER', 'VCH', 'CM..."
4,00406c885e5c4a3e89aa3c80276c636f,TTF,8270.0,6,6.0,Y,"['ASM', 'FLC', 'HAP', 'IDI', 'PXT', 'TTF']","['HKB', 'PDN', 'PPS', 'APG', 'BVG', 'KST', 'CD...","['TTF', 'HKB', 'PDN', 'PPS', 'APG', 'BVG', 'KS..."
...,...,...,...,...,...,...,...,...,...
1847,ff1ac9a78e5a4a0e8c3c75c9ff4e72f5,VRE,18000.0,6,6.0,Y,"['HVG', 'MWG', 'PVS', 'SAS', 'TNG', 'VRE']","['MCO', 'FUCVREIT', 'VMA', 'VIE', 'SGN', 'MST'...","['VRE', 'MCO', 'FUCVREIT', 'VMA', 'VIE', 'SGN'..."
1848,ff20ae0be87e481984d3fc9d92751b96,VCG,2500.0,6,6.0,Y,"['AGR', 'PVD', 'QCG', 'SBT', 'SHB', 'VCG']","['PSC', 'HND', 'NCP', 'TSJ', 'PNJ', 'BVN', 'MS...","['VCG', 'PSC', 'HND', 'NCP', 'TSJ', 'PNJ', 'BV..."
1849,ff46416e49cf4db89e06144c47a7ee85,VSC,2400.0,9,9.0,Y,"['CTR', 'DIG', 'HTM', 'PWA', 'SZC', 'VCR', 'VG...","['PVD', 'SEA', 'VSP', 'NTP', 'VHE', 'VPK', 'TT...","['VSC', 'PVD', 'SEA', 'VSP', 'NTP', 'VHE', 'VP..."
1850,ff50ced0de544e9baab91ba4904ccf54,VRG,600.0,7,7.0,Y,"['FPT', 'HDC', 'HPG', 'IJC', 'MWG', 'REE', 'VRG']","['PCT', 'ALT', 'DRC', 'CHPG1902', 'TAG', 'TAG'...","['VRG', 'PCT', 'ALT', 'DRC', 'CHPG1902', 'TAG'..."
1851,ff79ac6717014fcbb3bfb9e261364017,PXL,9700.0,7,7.0,Y,"['BTS', 'HAG', 'HSG', 'JVC', 'OIL', 'PVX', 'PXL']","['L61', 'PPE', 'SFC', 'TTZ', 'SGT', 'SPD', 'BS...","['PXL', 'L61', 'PPE', 'SFC', 'TTZ', 'SGT', 'SP..."

In [16]:
mv_data = pd.read_csv('movie_len/ml-1m.train.rating', sep="\t", header=None)
mv_data.columns = ["main_account", "ShareCode", "rating", "time_stamp"]
mv_data['main_account'] = mv_data['main_account'].astype(str)
mv_data['ShareCode'] = mv_data['ShareCode'].astype(str)
mv_data.to_pickle('movie_len/train.pickle')
mv_data.head()

  main_account ShareCode  rating  time_stamp
0            0        32       4   978824330
1            0        34       4   978824330
2            0         4       5   978824291
3            0        35       4   978824291
4            0        30       4   978824291

In [17]:
mv_data_test = pd.read_csv('movie_len/ml-1m.test.negative', sep="\t", header=None)
def get_stock_not_hold(row):
    stock_not_hold = []
    for i in range(mv_data_test.shape[1] -1):
        stock_not_hold.append(str(row.iloc[i+1]))
    return stock_not_hold
mv_data_test['stock_not_hold'] = mv_data_test.apply(get_stock_not_hold, axis=1)
mv_data_test.head()

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,stock_not_hold
0,"(0,25)",1064,174,2791,3373,269,2678,1902,3641,1216,...,3067,58,2551,2333,2688,3703,1300,1924,3118,"[1064, 174, 2791, 3373, 269, 2678, 1902, 3641,..."
1,"(1,133)",1072,3154,3368,3644,549,1810,937,1514,1713,...,341,3525,1429,2225,1628,2061,469,3056,2553,"[1072, 3154, 3368, 3644, 549, 1810, 937, 1514,..."
2,"(2,207)",2216,209,2347,3,1652,3397,383,2905,2284,...,865,813,1353,2945,2580,2989,2790,2879,2481,"[2216, 209, 2347, 3, 1652, 3397, 383, 2905, 22..."
3,"(3,208)",3023,1489,1916,1706,1221,1191,2671,81,2483,...,1707,2901,2767,2167,1921,247,1618,2016,2323,"[3023, 1489, 1916, 1706, 1221, 1191, 2671, 81,..."
4,"(4,222)",1794,3535,108,593,466,2048,854,1378,1301,...,1332,2526,2804,2027,833,176,463,2851,2453,"[1794, 3535, 108, 593, 466, 2048, 854, 1378, 1..."

In [18]:
def get_main_account(x):
    x = x[1:-1]
    main_account = list(x.split(","))[0]
    return main_account
mv_data_test['main_account'] = mv_data_test.iloc[:,0].apply(lambda x: get_main_account(x))
mv_data_test.head()

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,stock_not_hold,main_account
0,"(0,25)",1064,174,2791,3373,269,2678,1902,3641,1216,...,58,2551,2333,2688,3703,1300,1924,3118,"[1064, 174, 2791, 3373, 269, 2678, 1902, 3641,...",0
1,"(1,133)",1072,3154,3368,3644,549,1810,937,1514,1713,...,3525,1429,2225,1628,2061,469,3056,2553,"[1072, 3154, 3368, 3644, 549, 1810, 937, 1514,...",1
2,"(2,207)",2216,209,2347,3,1652,3397,383,2905,2284,...,813,1353,2945,2580,2989,2790,2879,2481,"[2216, 209, 2347, 3, 1652, 3397, 383, 2905, 22...",2
3,"(3,208)",3023,1489,1916,1706,1221,1191,2671,81,2483,...,2901,2767,2167,1921,247,1618,2016,2323,"[3023, 1489, 1916, 1706, 1221, 1191, 2671, 81,...",3
4,"(4,222)",1794,3535,108,593,466,2048,854,1378,1301,...,2526,2804,2027,833,176,463,2851,2453,"[1794, 3535, 108, 593, 466, 2048, 854, 1378, 1...",4

In [19]:
def get_share_code(x):
    x = x[1:-1]
    share_code = list(x.split(","))[1]
    return share_code
mv_data_test['ShareCode'] = mv_data_test.iloc[:,0].apply(lambda x: get_share_code(x))
mv_data_test.head()

,0,1,2,3,4,5,6,7,8,9,...,93,94,95,96,97,98,99,stock_not_hold,main_account,ShareCode
0,"(0,25)",1064,174,2791,3373,269,2678,1902,3641,1216,...,2551,2333,2688,3703,1300,1924,3118,"[1064, 174, 2791, 3373, 269, 2678, 1902, 3641,...",0,25
1,"(1,133)",1072,3154,3368,3644,549,1810,937,1514,1713,...,1429,2225,1628,2061,469,3056,2553,"[1072, 3154, 3368, 3644, 549, 1810, 937, 1514,...",1,133
2,"(2,207)",2216,209,2347,3,1652,3397,383,2905,2284,...,1353,2945,2580,2989,2790,2879,2481,"[2216, 209, 2347, 3, 1652, 3397, 383, 2905, 22...",2,207
3,"(3,208)",3023,1489,1916,1706,1221,1191,2671,81,2483,...,2767,2167,1921,247,1618,2016,2323,"[3023, 1489, 1916, 1706, 1221, 1191, 2671, 81,...",3,208
4,"(4,222)",1794,3535,108,593,466,2048,854,1378,1301,...,2804,2027,833,176,463,2851,2453,"[1794, 3535, 108, 593, 466, 2048, 854, 1378, 1...",4,222

In [20]:
mv_data_test = mv_data_test[['main_account', 'ShareCode', 'stock_not_hold']]
def get_test_sample(row):
    test_sample = row['ShareCode'].split() + row['stock_not_hold']
    return test_sample
mv_data_test['test_sample'] = mv_data_test.apply(get_test_sample, axis=1)
mv_data_test.to_pickle('movie_len/test.pickle')
mv_data_test

,main_account,ShareCode,stock_not_hold,test_sample
0,0,25,"[1064, 174, 2791, 3373, 269, 2678, 1902, 3641,...","[25, 1064, 174, 2791, 3373, 269, 2678, 1902, 3..."
1,1,133,"[1072, 3154, 3368, 3644, 549, 1810, 937, 1514,...","[133, 1072, 3154, 3368, 3644, 549, 1810, 937, ..."
2,2,207,"[2216, 209, 2347, 3, 1652, 3397, 383, 2905, 22...","[207, 2216, 209, 2347, 3, 1652, 3397, 383, 290..."
3,3,208,"[3023, 1489, 1916, 1706, 1221, 1191, 2671, 81,...","[208, 3023, 1489, 1916, 1706, 1221, 1191, 2671..."
4,4,222,"[1794, 3535, 108, 593, 466, 2048, 854, 1378, 1...","[222, 1794, 3535, 108, 593, 466, 2048, 854, 13..."
...,...,...,...,...
6035,6035,1048,"[2495, 3406, 819, 729, 1920, 2003, 3329, 2351,...","[1048, 2495, 3406, 819, 729, 1920, 2003, 3329,..."
6036,6036,294,"[2248, 1318, 3661, 72, 351, 2131, 3281, 2482, ...","[294, 2248, 1318, 3661, 72, 351, 2131, 3281, 2..."
6037,6037,1528,"[2194, 867, 1424, 2517, 3080, 2789, 1210, 3150...","[1528, 2194, 867, 1424, 2517, 3080, 2789, 1210..."
6038,6038,1449,"[2606, 2054, 2754, 1299, 2854, 2413, 1055, 742...","[1449, 2606, 2054, 2754, 1299, 2854, 2413, 105..."
6039,6039,434,"[3289, 3432, 2599, 2162, 1653, 2363, 2576, 131...","[434, 3289, 3432, 2599, 2162, 1653, 2363, 2576..."

In [21]:
mv_data_test.dtypes

main_account      object
ShareCode         object
stock_not_hold    object
test_sample       object
dtype: object

In [22]:
mv_data.dtypes

main_account    object
ShareCode       object
rating           int64
time_stamp       int64
dtype: object

In [23]:
test = pd.read_pickle('data/test.pickle')
test = test[['main_account', 'test_sample']]
test

,main_account,test_sample
0,0001898ab3584ff6a99ec11ffcb1f09c,"[VPB, VTS, GBS, DZM, VNB, MCV, ADS, PHH, ACC, ..."
1,000a64c8a9d5465eba885a561e1b0ca9,"[VRE, CGP, CREE1901, TBC, TD1323031, TLI, QBS,..."
2,002c1a2e3c054378b7261e680f19b5c4,"[TCT, HCD, TLT, TNG, NVL, PNJ, AGF, PJT, LUT, ..."
3,00333607002b4ba3be5c9e3913597800,"[VC7, C69, DPC, SAM, GER, VCH, CMT, HD8, HD2, ..."
4,00406c885e5c4a3e89aa3c80276c636f,"[TTF, HKB, PDN, PPS, APG, BVG, KST, CDC, VES, ..."
...,...,...
1847,ff1ac9a78e5a4a0e8c3c75c9ff4e72f5,"[VRE, MCO, FUCVREIT, VMA, VIE, SGN, MST, KST, ..."
1848,ff20ae0be87e481984d3fc9d92751b96,"[VCG, PSC, HND, NCP, TSJ, PNJ, BVN, MSN, BHA, ..."
1849,ff46416e49cf4db89e06144c47a7ee85,"[VSC, PVD, SEA, VSP, NTP, VHE, VPK, TTC, LEC, ..."
1850,ff50ced0de544e9baab91ba4904ccf54,"[VRG, PCT, ALT, DRC, CHPG1902, TAG, TAG, VGV, ..."
1851,ff79ac6717014fcbb3bfb9e261364017,"[PXL, L61, PPE, SFC, TTZ, SGT, SPD, BSG, VRE, ..."

In [24]:
share_dict = load_dict_from_pickle('data/share_dict.pickle')
share_dict['3569']

KeyError: '3569'

In [ ]:
a = mv_data.ShareCode.unique().tolist()
print(a)

In [ ]:
b = mv_data_test.ShareCode.unique().tolist()
print(b)

In [ ]:
list(set(a).symmetric_difference(set(b)))